.modal-pop-outer {
	position: absolute!important;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
	background: rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	/* backdrop-filter: blur(2px); */
	transform: translateZ(0);
}

.modal-pop-inner {
	position: relative;
	background-color: whitesmoke;
	padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.modal-pop-inner > * {
	margin: 2vh 2vw;
}