.player-info {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thinking-text::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: limegreen;
}

@media only screen and (max-width: 450px), (max-height: 450px) {
    .player-info {
        padding: 0px;
    }
}