.pop-outer {
  	position: absolute!important;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-title {
	color: white;
	font-size: 270%;
	font-weight: bold;
	text-align: center;
	margin: 10%;
	line-height: 250% !important;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.row {
	margin: 0;
	width: 100%;
}

.my-bg-light {
	background-color: white;
}

.my-bg-dark {
	background-color: whitesmoke;
}