html, body, #root, .App {
	min-height: 100vh;
	min-width: 100vw;
}

main, .game {
	min-height: calc(100vh - 86px);
	min-width: 100vw;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.App {
	background-color: whitesmoke;
}

.container {
	padding: 15px;
}

.pop-outer {
  	position: absolute!important;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.modal-title {
	color: white;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin: 5vh 0;
	line-height: 3rem !important;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media only screen and (max-height: 500px), (max-width: 500px) {
	.modal-title {
		font-size: 2rem;
		margin: 1vh 0;
	}

	.pieces > svg {
		width: 40px;
		height: 40px;
	}
}

.row {
	margin: 0;
	width: 100%;
}

.my-bg-light {
	background-color: white;
}

.my-bg-dark {
	background-color: whitesmoke;
}

.blink {
	animation: blinking-text 2s infinite ease-in-out;
	transform: translateZ(0);
}

@keyframes blinking-text {
	0% {opacity: 0.5;}

	50% {opacity: 1;}

	100% {opacity: 0.5;}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	/* background-color: whitesmoke; */
}